<h2>プロフィール編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

       <%= f.file_field :avatar, size: 40%>

         <div class='form-group'>
          <%= f.label :name %><span class="input-need">※必須</span><br />
          <%= f.text_field :name, class: 'form-control', id: 'user_name' %>
        </div>

        <div class = 'form-group'>
          <%= f.label :email %><span class="input-need">※必須</span><br />
          <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
        </div>

        <div class = 'form-group'>
          <%= f.label :introduction %><span class="input-unneed">※任意</span><br />
          <%= f.text_area :introduction, size: "60x4", class: 'form-control', id: 'user_introduction' %>
        </div>

        <div class="field">
        <%= f.label :password %> <i>(変更しない場合は空白)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> 文字以上</em>
        <% end %>
        </div>
        <br />

        <div class="field">
        <%= f.label :password_confirmation %><i>(変更しない場合は空白)</i><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>
        <br />

    <%= f.submit "更新", class: "btn btn-primary" %>
  <!--プロフィール画面に飛びたい。確認するために-->
<% end %><br />

<h5>アカウントを削除する</h5>

<p><%= button_to "アカウント削除", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "ホーム", :back %>
