<% provide(:title, "プロフィール") %>
<h1>プロフィール</h1>
<%= gravatar_for @user %><br>
<%= @user.id %>, <%= @user.name %><br>
<%= @user.introduction %>
<%= @user.created_at %>, <%= @user.updated_at %><br>
<a class="nav-link" href="/users/edit">プロフィール編集</a>
<%# <p><%= render partial: "relationships/follow_button", locals: {user: post.user} %></p>
<p><%=link_to "フォロー", follows_user_path(@user.id) %></p>
<p><%=link_to "フォロワー", followers_user_path(@user.id) %></p>
<% if current_user != @user %>
    <% if @user.followed_by?(current_user) %>
        <p><%=link_to "フォロー済み", user_relationships_path(@user.id), method: :delete %></p>
    <% else %>
        <p><%=link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
    <% end %>
<% end %>