<% provide(:title, "プロフィール") %>
<h1>プロフィール</h1>
<% if @user.avatar.attached? %>
    <p><%= image_tag @user.avatar.variant(resize_to_limit: [200, 200]) %></p>
<% end %>

<div class="col-md-8">
  <h4 class="show-user-name">
    <%= @user.name %><br>
  </h4>
  <div class="show-user-introduction">
    <%= @user.introduction %>
  </div>
  <div class="show-user-sex">
  <%= @user.sex %>
  </div>
  <%= @user.created_at.to_s(:datetime_jp) %><br>
  <%= @user.updated_at.to_s(:datetime_jp) %><br>

  <section class="stats">
    <%= render 'devise/shared/stats' %>
  </section>

  <% if current_user.id == @user.id %>
    <a class="nav-link" href="/users/edit">プロフィール編集</a>
  <% end %>
  <%= render 'follow_form' if user_signed_in? %>
  <%# <p><%= render partial: "relationships/follow_button", locals: {user: post.user} %></p>

</div>