<h1>投稿一覧</h1>
  <%# <div id="breadcrumbs" ></div>
    <%= render partial: "layouts/breadcrumbs" %>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 orange">
       <% if user_signed_in? %>
         <%= search_form_for @search, url: posts_path do |f| %>
           キーワード検索<br>
           <%= f.search_field :title_or_content_cont, class: 'form-control mr-sm-2', placeholder: "Search" %>
           <%= f.submit '検索', class: "btn btn-success" %>
         <% end %>
        <% @results.each do |post| %>
          <div class="post">
            <div class="col-sm-8 orange">
              <p><span>行った日: </span><%= post.date %></p>
              <p><span>タイトル: </span><%= post.title %></p>
              <p><span>内容: </span><%= simple_format(post.content) %></p>
          <span class="picture">
            <% if post.images.attached? %>
              <% post.images.each do |image| %>
                <p><%= image_tag image.variant(resize_to_limit: [300, 300]) %></p>
              <% end %>
            <% end %>
          </span>
            <div id="post_<%= post.id %>">  
              <%= render partial: 'likes/like', locals: { post: post } %>
            </div>
              <p><%= link_to "詳細", post, class: "btn btn-primary" %></p>
            <% if user_signed_in? && current_user.id == post.user_id %>
              <p><%= link_to "編集", edit_post_path(post.id), class: "btn btn-primary" %></p>
              <p><%= link_to "削除", post, method: :delete, data: { confirm: '本当に削除していいですか?', cancel: 'やめる', commit: '削除する'}, title: '削除確認', class: "btn btn-danger" %></p>
            <% end %>
          </div>
          <div class="post-user"> <%= link_to post.user.name, user_path(post.user) %></div>

             <div class="post-created-at">
              <%= time_ago_in_words(post.created_at) %>前に投稿
             </div>
        <% end %>
      </div>  
   </div>
  </div>
     <% else %>
        <p>ログインしてください</p>
     <% end %>
    <%= paginate @results %>