<h1>投稿一覧</h1>
<table>
  <thead>
    <% if user_signed_in? %>
      <% @post.each do |post| %>
        <tbody>
          <div calss="post">
            <tr>
              <td><%= post.title %></td>
              <td><%= post.content %></td>
              <td><%= image_tag post.images if post.images.attached? %></td>
                <td>
                  <%= link_to "詳細", post %>
                  <%= link_to "編集", edit_post_path(post.id) %>
                  <%= link_to "削除", post, method: :delete, data: { confirm: '本当に削除していいですか?', cancel: 'やめる', commit: '削除する'}, title: '削除確認' %>
                </td>
            </tr>
          </div>
        </tbody>
    <% end %>
    <% else %>
      <p>ログインしてください</p>
    <% end %>
  </thead>
</table>