<header> 
  <div class="header-logo">
    <%= link_to("Futsal Board", "/") %>
  </div>
    <% if user_signed_in? %>
      <%= link_to "トップ", posts_path %>
      <%= link_to "投稿画面へ", new_post_path%>
      <%= link_to "アカウント編集", edit_user_registration_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "本当にログアウトしますか?" } %>
    <% else %>
      <%= link_to "ゲストユーザーログイン", users_guest_sign_in_path, method: @post %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "アカウント登録", new_user_registration_path %>
    <% end %>
</header>